force-app/main/default/flows/CSClaimApprovalFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_context_with_CS</name>
        <label>Build context with CS</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>buildContext</actionName>
        <actionType>buildContext</actionType>
        <connector>
            <targetReference>ExecuteClaimApprovalRules</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextDefinitionId</name>
            <value>
                <elementReference>GetContexDefinitionId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextMappingId</name>
            <value>
                <elementReference>GetContextMappingId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextData</name>
            <value>
                <elementReference>ReplaceDataWithClaimId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>buildContext</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ExecuteClaimApprovalRules</name>
        <label>ExecuteClaimApprovalRules</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>CSAutoClaimProcessing</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Persist_Context_Data</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AutomatedClaimProcessingId</name>
            <value>
                <elementReference>Build_context_with_CS.contextId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CSAutoClaimProcessing</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Persist_Context_Data</name>
        <label>Persist Context Data</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <actionName>persistContextData</actionName>
        <actionType>persistContextData</actionType>
        <connector>
            <targetReference>GetClaimItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Build_context_with_CS.contextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextMappingId</name>
            <value>
                <elementReference>GetContextMappingId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>persistContextData</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>ValidateAdjustedAmount</name>
        <label>ValidateAdjustedAmount</label>
        <locationX>396</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>CCPDStatusToRejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_CCPDs.AdjustedAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCCPDStatus</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ReplaceDataWithClaimId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!dataInput}, &quot;ClaimIdData&quot;,{!$Record.Id})</expression>
    </formulas>
    <interviewLabel>CSClaimApprovalFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSClaimApprovalFlow</label>
    <loops>
        <name>Iterate_over_CCPDs</name>
        <label>Iterate over CCPDs</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <collectionReference>Getccpdrecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ValidateAdjustedAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateClaimStatusToApprovedIfNotRejected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getccpdrecords</name>
        <label>Getccpdrecords</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_CCPDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimCoverageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getclaimcoverage.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClaimCoveragePaymentDetail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getclaimcoverage</name>
        <label>Getclaimcoverage</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getccpdrecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClaimItems.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimItems</name>
        <label>GetClaimItems</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getclaimcoverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContexDefinitionId</name>
        <label>GetContexDefinitionId</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContextVersionId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutomatedClaimProcessing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContextDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContextMappingId</name>
        <label>GetContextMappingId</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_context_with_CS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContextVersionId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContextMapping</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContextVersionId</name>
        <label>GetContextVersionId</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContextMappingId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContexDefinitionId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContextDefinitionVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CCPDStatusToRejected</name>
        <label>CCPDStatusToRejected</label>
        <locationX>528</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>UpdateClaimStatusToRejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_over_CCPDs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimCoveragePaymentDetail</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCCPDStatus</name>
        <label>UpdateCCPDStatus</label>
        <locationX>264</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Iterate_over_CCPDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_over_CCPDs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimCoveragePaymentDetail</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClaimStatusToApprovedIfNotRejected</name>
        <label>UpdateClaimStatusToApprovedIfNotRejected</label>
        <locationX>176</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClaimStatusToRejected</name>
        <label>UpdateClaimStatusToRejected</label>
        <locationX>528</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Iterate_over_CCPDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContexDefinitionId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AutoReviewOutput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AutoReviewOutputVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClaimCoverageAmountOutputVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ClaimCoverageAmt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>dataInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{&quot;Claim&quot;:[{&quot;id&quot;:&quot;ClaimIdData&quot;,&quot;businessObjectType&quot;:&quot;Claim&quot;}]}</stringValue>
        </value>
    </variables>
    <variables>
        <name>isClaimApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
